@page
@model IndexModel
@{
    ViewData["Title"] = "Guest Book";
}

<form method="post">
    <input type="text" name="Name" placeholder="Enter name" value="@Model.Name"/>
    <input type="submit" value="Add Name"/>
</form>

<h1>Guest Names</h1>
<ul>
    @foreach(string n in Model.AllNames)
    {
        <li>@n</li>
    }
</ul>
